
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
img {
  vertical-align: middle;
  overflow: hidden;
  height: auto;
  width: 100%;
  float: left;
  display: block;
  object-fit: cove;
}
body
{
    overflow-x: hidden;
}
.input-full-width {
  width: 100%;
}
.input-half-width {
  width: 45%;
}


.omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
