<div class="row">
  <div class="col-md-12">
    <img src="http://farm1.nzstatic.com/_proxy/imageproxy_1y/serve/angling-at-lake-tarawera.jpg?focalpointx=50&focalpointy=50&height=440&outputformat=jpg&quality=75&source=1120422&transformationsystem=focalpointcrop&width=1280&securitytoken=F38F35FF5904183067298E0246C4911B" class="img-fluid" alt="Responsive image">
  </div>
</div>
<div class="container-fluid">

  <div class="row" style="margin-top:20px">
    <div class="container">
      <div class="row">

        <div class="card col-md-4 col-sm-10 offset-sm-1 offset-md-1 col-10 offset-1" style="padding:0px">
          <img class="card-img-top" src="http://a3.cdn.japantravel.com/photo/3005-18909/600x400/photo.jpg" alt="Card image cap" style="max-height: 250px;">
          <div class="card-block">
            <h4 class="card-title">Join Us</h4>
            <p class="card-text">ลงทะเบียนบ่อตกปลาของคุณ เพื่อให้นักตกปลาทุกคนสามารถค้นหาได้อย่างง่ายดายกันเถอะ!!</p>
          </div>
          <div class="card-block" style="max-height: 80px;">
            <a href="" routerLink="/fishing-park-register" class="btn btn-primary btn-link btn-block">Join!!</a>
          </div>
        </div>

        <div class="card col-md-4 col-sm-10 offset-sm-1 offset-md-2 col-10 offset-1" style="padding:0px">
          <img class="card-img-top" src="http://www.servicestopni.com/resources/images/dcms/1/Find%20us%20web.jpg" alt="Card image cap" style="max-height: 250px;">
          <div class="card-block">
            <h4 class="card-title">Find Finging Park</h4>
            <p class="card-text">ค้นหาบ่อตกปลาที่คุณต้องการเลย!!</p>
          </div>
          <div class="card-block" style="max-height: 80px;">
            <a href="" routerLink="/fishing-park" class="btn btn-primary btn-link btn-block">Find!!</a>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">
        <h1 class="col-md-10" style="text-align:center;color:white;">News</h1>
      </div>
      <hr color="white">
      <div class="row">
        <home-news class="col-md-12"></home-news>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row justify-content-center">
            <h1 class="col-md-10" style="text-align:center;color:white;">Contact Us</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 style="color:white;text-align: center;"> Facebook 123456 </h4>
        </div>
        <div class="col-md-4">
          <h4 style="color:white;text-align: center;"> tel 087-777-7777 </h4>
        </div>
        <div class="col-md-4">
          <h4 style="color:white;text-align: center;"> Innovation Knock Team admin@inknock.com </h4>
        </div>
      </div>
    </div>
  </div>
</div>
